.cart__content {
  display: flex;

  .products {
    width: 100%;
    max-width: 80%;

    &__total-price {
      display: inline-flex;
      text-decoration: underline;
      text-underline-position: under;
      font-size: 1.5rem;
      font-weight: 600;
      margin: 1rem 0 0 1rem;
    }

    .product-card {
      width: 25%;
    }
  }
}
