.product-list {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  width: 20%;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;

  &__img {
    width: 100%;
  }

  &__title {
    color: #221f1f;
    margin-top: 1rem;
  }

  &__price {
    color: #333;
    margin-top: 1rem;
    font-weight: 600;
  }

  &__edit {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &_count {
      flex-grow: 1;
      text-align: center;
    }

    &_btn {
      @include button-white();
    }
  }

  &__to-cart-btn {
    @include button-white();
    margin-top: 1rem;
  }
}
