.product-list {
  display: flex;
  flex-wrap: wrap;
  border-top: $default-border;
  border-left: $default-border;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  width: 20%;
  border-right: $default-border;
  border-bottom: $default-border;
  color: $default-text-color;

  &__img {
    width: 100%;
  }

  &__title {
    margin-top: 1rem;
    flex: 1;
  }

  &__price {
    margin-top: 1rem;
    font-weight: 600;
  }

  &__edit {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    &_count {
      flex-grow: 1;
      text-align: center;
    }

    &_btn {
      @include button-white();
    }
  }

  &__to-cart-btn {
    @include button-white();
    margin-top: 1rem;
  }
}
