.OrderForm {
  width: 20%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border-top: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #323130;

    &_input {
      border: 1px solid #323130;
      padding: 0px 8px;
      border-radius: 2px;
      height: 32px;
      margin-top: 5px;

      &:active,
      &:focus {
        border-color: #0078d4;
      }
    }
  }

  &__submit {
    margin-top: 0.5rem;
    @include button-white();
  }
}
