.Spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}

.Spinner {
  $size: 2.5rem;

  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-width: 4px;
  border-color: rgb(0, 120, 212) rgb(199, 224, 244) rgb(199, 224, 244);
  border-image: none 100% / 1 / 0 stretch;
  animation-name: spinner-animation;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.53, 0.21, 0.29, 0.67);
  width: $size;
  height: $size;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
