header {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0;

  nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: $page-width;

    .header__cart-btn {
      @include button-white();
    }
  }
}
